<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- Register a section handler for the log4net section -->
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
		<root>
			<appender-ref ref="ConsoleAppender" />
      <appender-ref ref="LogFileAppender"/>
		</root>
		<!-- Define some output appenders -->
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<!-- DEBUG < INFO < WARN < ERROR < FATAL -->
			<threshold value="ALL" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d %5level %type - %m%n" />
			</layout>
		</appender>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <!-- DEBUG < INFO < WARN < ERROR < FATAL -->
      <!-- <threshold value="WARN" /> -->
      <file type="log4net.Util.PatternString" value="logs\SendToSmugMug[%processid].log" />
      <!-- Example using environment variables in params -->
      <appendToFile value="false"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <!-- An alternate output encoding can be specified -->
      <!-- <encoding value="unicodeFFFE" /> -->
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]&#xD;&#xA;"
/>
        <param name="Footer" value="[Footer]&#xD;&#xA;"
 />
        <param name="ConversionPattern" value="%d %5level %type - %m%n"/>
      </layout>
      <!-- Alternate layout using XML			
			<layout type="log4net.Layout.XMLLayout" /> -->
    </appender>
		<!-- Setup the root category, add the appenders and set the default level -->
	</log4net>
</configuration>