<?xml version="1.0"?>
<configuration>
	<!-- Register a section handler for the log4net section -->
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="SmugMug.SendToSmugMug.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
 </configSections>
	<log4net>
		<root>
      <appender-ref ref="LogFileAppender"/>
			<appender-ref ref="ConsoleAppender"/>
      <!-- <appender-ref ref="RollingLogFileAppender"/> -->
		</root>
		<!-- Define some output appenders -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="${TMP}\SendToSmugMug[%processid].log" />
        <appendToFile value="true"/>
        <maxSizeRollBackups value="3" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %5level %method - %m%n"/>
      </layout>
    </appender>
		<appender name="LogFileAppender" type="log4net.Appender.FileAppender">
			<!-- DEBUG < INFO < WARN < ERROR < FATAL -->
			<!-- <threshold value="WARN" /> -->
      <file type="log4net.Util.PatternString" value="${TMP}\Send to SmugMug Logs\SendToSmugMug[%processid].log" />
			<!-- Example using environment variables in params -->
			<appendToFile value="true"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<!-- An alternate output encoding can be specified -->
			<!-- <encoding value="unicodeFFFE" /> -->
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d %5level %method - %m%n"/>
			</layout>
			<!-- Alternate layout using XML			
			<layout type="log4net.Layout.XMLLayout" /> -->
		</appender>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<!-- DEBUG < INFO < WARN < ERROR < FATAL -->
			<!-- <threshold value="ALL" /> -->
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d %5level %method - %m%n"/>
			</layout>
		</appender>
		<!-- Setup the root category, add the appenders and set the default level -->
	</log4net>
 <userSettings>
  <SmugMug.SendToSmugMug.Properties.Settings>
   <setting name="AlbumPublic" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AlbumWorldSearchable" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AlbumSmugSearchable" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AlbumAllowExternalLinks" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AlbumProtected" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ApplyWatermark" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AlbmHideOwner" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AlbumDisplayCustomHeader" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AlbumCleanStyle" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AlbumShowCameraInfo" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AlbumShowFilenames" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AlbumGeography" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AlbumSquareThumbs" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AlbumPhotoRank" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AlbumFriendEdit" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AlbumFamilyEdit" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AlbumAllowComments" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AlbumAllowEasySharing" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AlbumAllowPrintOrdering" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AlbumPosition" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="AlbumSortDirection" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MenuItemUploaded" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MenuItemRatingUnrated" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MenuItemRating1" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MenuItemRating2" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MenuItemRating3" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MenuItemRating4" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MenuItemRating5" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UpgradeSettings" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AlbumSorting" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="AlbumLargestSize" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LoadImagesFromSubfolders" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Duplicates" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DefaultCategoryID" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="PhotoExtensions" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>.jpg</string>
      <string>.jpeg</string>
      <string>.png</string>
      <string>.gif</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="VideoExtensions" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>.wmv</string>
      <string>.avi</string>
      <string>.mpg</string>
      <string>.mpeg</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="QuickTimeExtensions" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>.mov</string>
      <string>.qt</string>
      <string>.mp4</string>
      <string>.mqv</string>
      <string>.m4v</string>
      <string>.mqt</string>
      <string>.m2t</string>
      <string>.m2ts</string>
      <string>.mts</string>
      <string>.3gp</string>
      <string>.3gpp</string>
      <string>.3gp2</string>
      <string>.3g2</string>
      <string>.3gpp2</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="AlbumUnlisted" serializeAs="String">
    <value>True</value>
   </setting>
  </SmugMug.SendToSmugMug.Properties.Settings>
 </userSettings>
  <!--<system.diagnostics>
    <sources>
      <source name="System.Net" maxdatasize="1024" tracemode="protocolonly">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="System.Net" value="Verbose"/>
      <add name="System.Net.Sockets" value="Verbose"/>
    </switches>
    <sharedListeners>
      <add name="System.Net"
      type="System.Diagnostics.TextWriterTraceListener"
      initializeData="network.log"/>
    </sharedListeners>
      <trace autoflush="true" indentsize="4"/>
  </system.diagnostics>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Data" publicKeyToken="B77A5C561934E089" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Drawing" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
